
.container{
    position: relative;
}
.rectangle1 {
    max-width:100%;
    height: 50em;
    background: #683838;
}
.rectangle2 {
    width: 100%;
    height: 50em;
    background: #523535;
}
.rectangle3 {
    width: 100%;
    height: 50em;
    background: #3E2929;
}
.rectangle4 {
    width: 100%;
    height: 50em;
    background: #2D1E1E;
}
*{
    padding: 0;
    margin: 0;
}
#my_pic{
    padding: 6.3%;
    width: 31.85%;
    height: auto;
    min-height: 0.5vw;
}
.me_name{
    position: absolute;
    color: white;
	font-size: 2.96vw;
    font-family: 'Urbanist', sans-serif;
    left: 46.11%;
    top: 15.5%;
}
.groupe{
    position: absolute;
    color: white;
	font-size: 2.22vw;
    font-family: 'Urbanist', sans-serif;
    left: 52.5%;
    bottom: 43.44%;
    text-align: center;
}
a{
    color: white;
}

.my_hs{
    position: absolute;
    color: white;
    font-size: 2.96vw;
    font-family: 'Judson', sans-serif;
    left: 8.51%;
    top: 2.96%;
}
.hs_block{
    position: absolute;
    color: white;
    font-size: 2.96vw;
    font-family: 'Judson', sans-serif;
    left: 8.51%;
    top: 24.93%;
}
.my_ss{
    position: absolute;
    color: white;
    font-size: 2.96vw;
    font-family: 'Judson', sans-serif;
    left: 8.51%;
    top: 2.96%;
}
.ss_block{
    position: absolute;
    color: white;
    font-size: 2.96vw;
    font-family: 'Judson', sans-serif;
    left: 8.51%;
    top: 24.93%;
    width: 40.37%;
}
.my_footer{
    position: absolute;
    color: white;
    font-size: 3.70vw;
    font-family: 'Judson', sans-serif;
    text-align: center;
    top: 29%;
    width: 15em;
}
#pg1,#pg2,#pg3{
    position: absolute;
	left: 59.62%;
    width: 32.13%;
    height: 50em;
}
.next{
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border: 1;
	color: white;
	text-align: center;
	font-size: 1.48vw;
	border-radius: 100%;
    left: 85.45%;
    top: 45.81%;
    width: 6.296%;
    height: 14.408%;
}
.prev{
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border: 1;
	color: white;
	text-align: center;
	font-size: 1.48vw;
	border-radius: 100%;
    left: 59.62%;
    top: 45.81%;
    width: 6.296%;
    height: 14.408%;
}
.map{
    position: absolute;
    right: 7%;
    top: 30%;
    width: 35%;
    height: 25em;
}
@media screen and (max-width: 600px) {
    #pg1,#pg2,#pg3{
        position: absolute;
        left: 35.62%;
        width: 33.13%;
        height: 22em;
        top: 32%;
    }
    .rectangle1{
        max-width:auto;
        height:30em;
        background: #683838;
    }
    .rectangle2{
        width: auto;
        height: 30em;
        background: #523535;
    }
    .rectangle3 {
        width: auto;
        background: #3E2929;
        height: 32em;
    }
    .rectangle4{
        width: auto;
        height: 30em;
        background: #2D1E1E;
    }
    .ss_block{
        left: 35%;
        top: 13.93%;
    }
    .my_ss{
        left: 35%;
    }
    .my_footer{
        top: 2%;
        width: 27em;
    }
    .map{
        right: 25%;
        top: 30%;
        width: 50%;
        height: 17em;
    }
    .hs_block{
        left: 35%;
        top: 43.93%;
    }
    .my_hs{
        left: 35%;
        top: 30%;
    }
    .groupe{
        left: 35%;
        top: 73.93%;
    }
    .me_name{
        left: 32%;
        top: 58%;
    }
    #my_pic{
        position: absolute;
        padding: 0;
        margin: 0;
        top: 2.3%;
        left: 25%;
        width: 45%;
    }
    .next{
        height: 8%;
        left: 62.3%;
        top: 62%;
    }
    .prev{
        height: 8%;
        left: 35.62%;
        top: 62%;
    }
}