html,body{
    margin: 0;
    min-width: 350px;
    width: auto;
}
.frame1{
    max-width: 100%;
    min-width: 350px;
    background: #683838;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 400px;
}
.frame2{
    max-width: 100%;
    min-width: 350px;
    background: #523535;
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    justify-content: space-around;
}
.frame3{
    max-width: 100%;
    min-width: 350px;
    background: #3E2929;
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    justify-content: space-evenly;
}
.frame4{
    max-width: 100%;
    min-width: 350px;
    background: #2D1E1E;
    display:flex;
    flex-wrap: wrap;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}
.frame5{
    max-width: 100%;
    min-width: 350px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
}
.me_name{
    color: white;
    font-size: 32px;
    font-family: 'Urbanist', sans-serif;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}
.groupe{
    display: inline-block;
    color: white;
    width: auto;
    font-size: 28px;
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    padding: 0% 5%;
}
.nm{
    display: inline-grid;
    min-width: 350px;
    align-content: center;
    justify-items: center;
}
#my_pic{
    width: 300px;
    margin: 8% 8% 20% 8%;
    
}
.pict{
    min-width: 350px;
    min-height: 350px;
    display: grid;
}
.my_hs{
    color: white;
    width: auto;
    font-size: 32px;
    font-family: 'Judson', sans-serif;
}
.hs_block{
    color: white;
    width: auto;
    font-size: 28px;
    font-family: 'Judson', sans-serif;
    word-break: break-all;
}
.hs{
    display: inline-block;
    display: grid;
    align-content: stretch;
    padding: 0% 15%;
}
.my_ss{
    color: white;
    width: auto;
    font-size: 32px;
    font-family: 'Judson', sans-serif;
}
.ss_block{
    color: white;
    width: auto;
    font-size: 28px;
    font-family: 'Judson', sans-serif;
    word-break: break-all;
    
}
.ss{
    display: inline-block;
    display: grid;
    align-content: stretch;
    margin: 0% 0% 0% 15%;
    display: inline-grid;
    align-items: flex-start;
    
}
.my_footer{
    color: white;
    width: auto;
    font-family: 'Judson', sans-serif;
    font-size: 40px;
    text-align: center;
    word-break: break-all;
}
.slider_container{
    display: grid;
    grid-template-columns: 50px 244px 50px;
    align-items: center;
    justify-items: center;
}
a{
    color: white;
}
#pg2,#pg3{
    display: none;
}
.next{
	background-color: rgba(0, 0, 0, 0);
	border: 1;
	color: white;
	text-align: center;
	font-size: 40px;
	border-radius: 100%;
}
.prev{
	background-color: rgba(0, 0, 0, 0);
	border: 1;
	color: white;
	text-align: center;
	font-size: 40px;
	border-radius: 100%;
    grid-row-start: 1;
}
.map{
    min-width: 350px;
    width: 100%;
    height: 400px;
}